<div>
	<div class="flex items-end justify-center p-6">
		<h1 class="text-slate-900 text-center font-medium font-serif text-9xl">
			Maison Serene
		</h1>
		<h2 class="p-2 font-serif uppercase font-light text-4xl text-slate-700">
			Financial<br />Services
		</h2>
	</div>
	<div class="bg-slate-800">
		<div class="w-full max-w-screen-2xl flex font-serif justify-end">
			<a href="/" class="text-white text-2xl hover:bg-slate-900 p-7">Home</a>
			<a href="/" class="text-white text-2xl hover:bg-slate-900 p-7">Work with me</a>
			<a href="/blog" class="text-white text-2xl hover:bg-slate-900 p-7">Blog</a>
			<a href="/" class="text-white text-2xl hover:bg-slate-900 p-7">About</a>
		</div>
	</div>
</div>
