---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Get the current URL path from Astro's built-in `Astro.url`
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>Maison Serene | Financial Service</title>
		<link rel="stylesheet" href="/src/styles/global.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="min-h-screen justify-between flex flex-col">
		<Header currentPath={currentPath} />
		<main class="bg-gray-100 flex-1 flex">
			<slot />
		</main>
		<Footer />
	</body>
</html>
